<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
      <div class="card">
        <div class="card-image">
          <figure class="image is-Square">
            <img
              src="https://i.imgur.com/7hpvoTL.jpg"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4" style="color: #363636;">JakesFate Portfolio</p>
              <p class="subtitle is-6" style="color: #363636;">@JakesFate</p>
            </div>
          </div>

          <div class="content">
            Basic website created to share my past projects. This is created in angular with a simple fade transition.
            <a href="https://github.com/JakesFate/Portfolio">#Code</a>
            <br />
            <time datetime="2019-11-24">11:09 PM - 24 Nov 2019</time>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-child box">
      <div class="card">
        <div class="card-image">
          <figure class="image is-Square">
            <img
              src="https://i.imgur.com/evJ6tAe.jpg"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4" style="color: #363636;">Form Login</p>
              <p class="subtitle is-6" style="color: #363636;">@JakesFate</p>
            </div>
          </div>

          <div class="content">
            A landing page built on the bulma platform which will capture users information and email the website owner.
            Can also be modified to be a login page. <a href="https://github.com/JakesFate/Landing-Page">#code</a>
            <br />
            <time datetime="2019-11-4">1:09 PM - 4 Nov 2019</time>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
      <div class="card">
        <div class="card-image">
          <figure class="image is-Square">
            <img
              src="https://i.imgur.com/vlTGGmx.jpg"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4" style="color: #363636;">WailesDetail</p>
              <p class="subtitle is-6" style="color: #363636;">@JakesFate</p>
            </div>
          </div>

          <div class="content">
            A website created for a mobile auto detailing company with a ordering backend. <a href="https://github.com/JakesFate/WailesDetail">#code</a>
            <br />
            <time datetime="2019-11-24">12:16 PM - 24 Nov 2019</time>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-child box">
      <div class="card">
        <div class="card-image">
          <figure class="image is-Square">
            <img
              src="https://i.imgur.com/Peb0jTj.png"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4" style="color: #363636;">Pterodactyl Install Script</p>
              <p class="subtitle is-6" style="color: #363636;">@JakesFate</p>
            </div>
          </div>

          <div class="content">
            A install script that installs Pterodactyl panel and daemon on most servers, Ubuntu,Debian,Centos,Fedora,Rhel. <a href="https://github.com/JakesFate/pterodactyl-Install-Script">#code</a>
            <br />
            <time datetime="2019-08-12">11:00 AM - 12 Aug 2019</time>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
      <div class="card">
        <div class="card-image">
          <figure class="image is-Square">
            <img
              src="https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/05/Discord-Featured-796x417.jpg"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4" style="color: #363636;">Discord Order Bot</p>
              <p class="subtitle is-6" style="color: #363636;">@JakesFate</p>
            </div>
          </div>

          <div class="content">
            A Discord order bot used much like a ticket system to take peoples orders and request payment through paypal.me. <a href="https://github.com/JakesFate/Discord-Order">#code</a>
            <a href="#">#responsive</a>
            <br />
            <time datetime="2019-11-12">1:57 PM - 12 Nov 2019</time>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-child box">
      <div class="card">
        <div class="card-image">
          <figure class="image is-Square">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4" style="color: #363636;">Future Projects</p>
              <p class="subtitle is-6" style="color: #363636;">@JakesFate</p>
            </div>
          </div>

          <div class="content">
            Contact me if you have a project you want to get started.
            <br/>
            <time datetime="2019-11-26">4:07 PM - 26 Nov 2019</time>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
