<section
  class="hero is-link is-fullheight"
  style="--image-url:url(../assets/Hero.webp)"
>
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
            <a class="navbar-item" [routerLink]="['/']" routerLinkActive="router-link-active">
              Home
            </a>
            <a class="navbar-item" [routerLink]="['/work']" routerLinkActive="router-link-active">
              Projects
            </a>
            <a class="navbar-item" (click)="toggle()">
              Contact
            </a>
            <span class="navbar-item">
              <a class="button is-link is-inverted" href="https://github.com/JakesFate">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>Github</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </header>
  </div>

  <div class="hero-body">
    <div class="container" [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
  <div class="hero-foot"></div>
</section>

<div class="modal" [ngClass]="{ 'is-active' : isContact }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Contact Me</p>
        <button class="delete" (click)="toggle()" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Name">
          </div>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" placeholder="Email">
          </div>
        </div>
        <div class="field">
          <label class="label">Message</label>
          <div class="control">
            <textarea class="textarea" placeholder="Textarea"></textarea>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <div class="button is-link is-fullwidth " [ngClass]="{ 'is-loading' : isloading }" (click)="toggle()">Submit</div>
      </footer>
    </div>
  </div>
